{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Devenir membre</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
		<link href="{% static 'css/style2.css' %}" rel="stylesheet">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('{% static  'images/bg-registration-form-1.jpg' %}');">
			<div class="inner">
				<div class="image-holder">
					<img src={% static "images/necklace.jpg" %} alt="">
				</div>
				<form action="">
					<h3>Devenir membre</h3>
					<div class="form-group">
						<input type="text" placeholder="Prénom" class="form-control">
						<input type="text" placeholder="Nom" class="form-control">
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Addresse Email " class="form-control">
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<input type="file" placeholder="Diplome" class="form-control">
						<i class="zmdi zmdi-file"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Mot de passe" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirmer Le Mot De Passe" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button>S'enregistrer
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
					<br>
					<a href={% url 'login' %} style="display: flex;
					justify-content: center; /* Horizontal */
					align-items: center; ">Vous avez deja un compte ? S'enregistrer</a>
				</form>
			</div>
		</div>
		
	</body>
</html>